<!-- <button (click)="isDetailsVisible = !isDetailsVisible" class="btn btn-primary">Display Details</button> -->

<button (click)="showDetails()" class="btn btn-primary">Display Details</button>

<p *ngIf="isDetailsVisible">Secret password = 'tuna'</p>

<!-- <div *ngFor="let number of clicksArray">
  <p
    [ngStyle]="{ backgroundColor: getColor(number) }"
    [ngClass]="{ innerText: number > 4 }"
  >
    {{ number }}
  </p>
</div> -->

<!-- ngFor, we can use the current index of the interation 
  "= index" is kind of reserverd expression to access to the index of the current iteration.
  starting from 0.
-->

<div
  *ngFor="let number of clicksArray; let i = index"
  [ngStyle]="{ backgroundColor: i > 3 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text': i > 3 }"
>
  {{ number }}
</div>
